
.PageBreak {
  page-break-after: always;
}

@font-face {
  font-family: "thefont";
  src: url(@{font}) format("truetype");
}

ul {
  /* list-style-type: none; */
  padding-left: 0mm;
}

ul li {
   list-style-position: inside;
}

